<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>This site is developed by Dhanasekar. And it uses Mapbox and Weatherstack to fetch foracast and location.
        </p>
        <img class='portrait' src={{img}}>
    </div>
    {{>footer}}

</body>

</html>